#homePageContent {
  margin: 0 auto;
  text-align: center;
  font-family: "Roboto";
}

#mainHeader {
  padding-top: 1.45rem;
  font-family: "Roboto";
}

.subHead {
  width: 60vw;
  margin: 0 auto;
  padding-bottom: 1.45rem;
  font-family: "Roboto";
}

#mainImage {
  max-width: 300px;
  margin: 1.45rem auto;
}

.contentP {
  font-family: "Roboto";
}

#socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.socialsIcon {
  height: 60px;
  width: 60px;
  margin: 0 10px;
  margin-bottom: 1.45rem;
}

.socialsIcon:hover {
  cursor: pointer;
}
